body {
  background-color: #deb86d;
  width: 100%;
  height: 100%;
}
#head {
  font-family: "Monofett", cursive;
  font-size: 60px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px white;
}
#timer {
  background-color: #c9442c;
  font-family: "Monofett", cursive;
  border-radius: 50%;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 0.25em;
  min-height: 380px;
  min-width: 380px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
  animation: pulse 1s infinite;
  animation-play-state: paused;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
#session-control {
  font-family: "Coiny", cursive;
  font-size: 20px;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  background-color:black;
  color: white;
  margin: 5px;
  text-shadow: 2px 2px #c9442c;
}
#break-control {
  font-family: "Coiny", cursive;
  font-size: 20px;
  min-height: 150px;
  min-width: 150px;
  text-align: center;
  background-color: #e4e4e1;
  margin: 5px;
  color: black;
  text-shadow: 2px 2px #c9442c;

}

#break-increment,
#session-increment {
  font-family: Arial, Helvetica, sans-serif;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  border-radius: 35px;
  font-size: 30px;
  line-height: 0px;
  margin: 5px;
  background-color: rgb(9, 105, 9);
}
#break-decrement,
#session-decrement {
  font-family: Arial, Helvetica, sans-serif;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  border-radius: 35px;
  font-size: 40px;
  line-height: 0px;
  margin: 10px;
  background-color: #c9442c;
}
#start_stop {
  border: none;
  font-family: "Coiny", cursive;
  background-color: rgb(9, 105, 9);
  width: 60px;
  height: 40px;
  margin: 5px;
  padding: 5px;
}
#reset {
  border: none;
  font-family: "Coiny", cursive;
  text-align: center;
  background-color: rgb(78, 77, 77);
  width: 60px;
  height: 40px;
  margin: 5px;
  padding: 5px;
}
#timer-label {
  font-family: "Coiny", cursive;
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: black;
}
#time-left {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
  

}
#break-length {
  font-size: 30px;
  color: black;
  text-shadow: 2px 2px #c9442c;
}
#session-length {
  font-size: 30px;
  text-shadow: 2px 2px #c9442c;
}
