#timer {
  border-style: solid;
  border-color: black;
  height: 200px;
}
#session-control {
  border-style: solid;
  border-color: black;
  height: 200px;
}
#break-control {
  border-style: solid;
  border-color: black;
  height: 200px;
}
