#bootstrap-override{
  border-color: #132639;
    border-style: solid;
  background-color: #132639;
  color: white;
  font-family: Courier;
  
}
.row {
    border-color: #132639;
    border-style: solid;
  background-color: #132639;
  color: white;
  border-top-width: 20px;
}

h3{
  font-size: 16px;
}
.col-md-12 {
     border-color: #293d3d;
    border-style: solid;
  border-width: 18px;
  
}
#preview {
margin-right: 10px;
  padding: 20px;
    background-color: #d1e0e0;
color: #132639;
  border-radius: 1.5%;
}
textarea {
resize: vertical;
min-width: 300px;
}

