html,
body {
  display: block;
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}
body {
  margin: 10px;
}
main {
  display: block;
}
main header {
  font-style: italic;
  font-weight: bold;
}
nav {
  display: block;
}
code {
  background-color: #d5c1e2;
}
#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
}
#navbar header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.6em;
  font-style: italic;
}
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 15px 25px;
  color: #4d4e53;
  text-decoration: none;
}
#main-doc {
  position: absolute;
  margin-left: 275px;
  padding: 25px;
  margin-bottom: 100px;
}
#main-doc header {
  text-align: left;
  margin: 0px;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  width: 300;
  min-width: 290px;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
#navbar li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#navbar li a:hover {
  background-color: rgb(200, 186, 235);
}
section article {
  color: #4d4e53;
  margin: 10px;
  font-size: 1em;
}
section li {
  margin: 10px 0px 0px 15px;
}
@media only screen and (max-width: 790px) {
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 200px;
    border: none;
    z-index: 1;
    border-bottom: 1px solid;
    border-color: #4d4e53;
  }
  #navbar ul {
    border: 1px solid;
    height: 207px;
    position: absolute;
    width: 100%;
  }
  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 300px;
  }
}
